

body {
  margin:0;
  padding:10px;
    background-color: #1E90FF;
}
.menu {
  cursor: pointer;
  opacity: 0.5;
}

.nav-closed{
  dispay: flex;
  width: 90%;
  height: 10vh;
  margin:auto;
  align-items:center;
text-align:left;
}
.nav{
   background-color:#1E90FF;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 50%;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
  
    color:#7FFF00;
     list-style:none;
      text-align: right;
       padding: 20px 0 20px 0;
  clip-path: circle(50px at -50% -25%);
  -webkit-clip-path: circle(50px at -50% -25%);
  
  transition: all 1s ease-out;
}

.opened{
  clip-path: circle(800px at -50% -25%);
  -webkit-clip-path: circle(800px at -50% -25%);
  
}
.nav > li {
   display:inline-block;
    padding-right: 50px;
}

.nav > li > a{
  text-decoration: none;
   color:#FFFFF0
}

.nav > li > a:hover{
   color:#FFFFF0
}

.logo{
  color:#90EE90;
    padding-left:25px;
     font-size:20px;
      font-weight:bold;
       font-family:Monospace;
}

.container1{
  width:400px;
   height:400px;
    margin-left:10;
     float:left;
      background-color:#483D8B;
       position:relative;
        
  
}  


h1{
  color: #708090;
   text-align:center;
    font-family:Monospace;
}
h2{
  color: #8B008B;
  text-shadow: #FF1493;
   text-align:center;
    font-family:Monospace;
}

h3{
  color:#FF1493;
   text-align:center;
    font-family:Monospace;
}
p{
  color: #000000;
   text-align:center;
    font-familiy:Monospace;
}
li{
   color: #000000;
   text-align:center;
    font-familiy:Monospace;
}
  img {

display: block;

  margin-left: auto;

  margin-right: auto;

  border-radius: 25px;

  padding-top: 0px;

}

iframe {
  display: block;
   text-align:center;
  margin-left: auto;

  margin-right: auto;

  border-radius: 25px;

  padding-top: 0px;
 
}


