*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

body {
  margin:0;
  padding:10px;
    background-color: #1E90FF;
}
.menu {
  cursor: pointer;
  opacity: 0.5;
}
.hamburger{
  float:left;
}

.nav-closed{
 text-align: right;
  dispay: flex;
  background:#00008B;
  width: 100%;
  height: 5vh;
}
.nav{
   background-color:#1E90FF;
    color:#7FFF00;
     list-style:none;
      text-align: right;
       padding: 20px 0 20px 0;
}

.nav > li {
   display:inline-block;
    padding-right: 50px;
}

.nav > li > a{
  text-decoration: none;
   color:#FFFFF0
}

.nav > li > a:hover{
   color:#FFFFF0
}

.logo{
  color:#90EE90;
    padding-left:25px;
     font-size:20px;
      font-weight:bold;
       font-family:Monospace;
}

.container1{
  width:400px;
   height:400px;
    margin-left:10;
     float:left;
      background-color:#483D8B;
       position:relative;
        
  
}  


h1{
  color: #708090;
   text-align:center;
    font-family:Monospace;
}

p{
  color: #000000;
   text-align:center;
    font-familiy:Monospace;
}
  img {

display: block;

  margin-left: auto;

  margin-right: auto;

  border-radius: 25px;

  padding-top: 0px;

}

iframe {
  display: block;
   text-align:center;
  margin-left: auto;

  margin-right: auto;

  border-radius: 25px;

  padding-top: 0px;
 
}


