<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: darkslategray;}
h1   {color: darkgray;}
p    {color: gray ;}
img {
  border-radius: 25px;
}
</style>
<body {
  padding: 10px;
  font-size: 120%;
  color: #123456;
}

h1 {
  color: pink;
}

img {
  border-radius: 25px;
}
